<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <div class="pane">
            <h1>News</h1>

            <h2>{{restaurant.name}} has not been rated in 2015.</h2>
            
            <ul>
                <li>Phone number: {{location.phone}}</li>
                <li>Type: {{restaurant.food_type}} </li>
            </ul>

            <h2>{{john}} gave {{johns[3].name}}, opened on {{johns[2].open_date}}, the lowest rating.</h2>
            <h3>Other ratings given by Staff Peter</h3>
            {% for other in others %}
                <ul>
                    <li>{{other[2]}}:  {{other[0].name}}, {{other[2]}}</li>
                </ul>
            {% endfor %}

            <h2> Sushi Bars won the highest rating among all type food!</h2>
            {% for r in restaurants %}
            <ul>
                <li>{{r.name}}</li>
                {% for rater in raters %}
                <p>{{rater.name}}</p></br>
                {% endfor %}
            </ul>
            {% endfor %}
                 
            <h2>The average number of ratings among all type restaurants is {{avg}}</h2>
                <p>Sushi bar has {{sushibar.total_ratings}} ratings</p>
        </div>
    </body>
</html> 
<a id="listbox" class="button" style="background-color:#09d80c; opacity: 1; font-size: 35px;" href="{{url_for('news')}}" > <h3 style="text-align: center"> News </h3> </a>
