<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <div class="pane">
            <h1>Ratings of restaurants</h1>
            <h2>Total Ratings: {{total}} </h2>
            </br></br>
            <h2>Samples</h2>
            {% for rating in ratings %}
               <ul>
                    <li>{{rating[0].name}}</li>
                    <li>Rating {{rating[1].mood}}</li>
                   <li>{{rating[1].date}}</li>
                   <li>{{rating[1].comments}}</li>
                   </br>
               </ul>
            {% endfor %}    
        </div>
    </body>
</html> 