<html>
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
              
                <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
                <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
              
                <title>Ratings</title>
                <link rel="stylesheet" href="../static/style1.css">
                
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">Welcome</a>
                      </div>
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="{{url_for('restaurants')}}">Home</a></li>
                        <li><a href="Search.html">Search</a></li>
                        <li><a href="{{url_for('register')}}">Register</a></li>
                        <li><a href="{{url_for('raterList')}}">Raters</a></li>
                      </ul>
                    </div>
                </nav>
        </head>

    <body>
        <div class="pane">
            <h1>Ratings of restaurants</h1>
            <h2>Total Ratings: {{total}} </h2>
            </br></br>
            <h2>Samples</h2>
            {% for rating in ratings %}
               <ul>
                    <li>{{rating[0].name}}</li>
                    <li>Rating {{rating[1].mood}}</li>
                   <li>{{rating[1].date}}</li>
                   <li>{{rating[1].comments}}</li>
                   </br>
               </ul>
            {% endfor %}    
        </div>
    </body>
</html> 