<html>
	
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
	
		<div class = 'pane'>
		<h1>Menu</h1>
			<h2>Manager: </h2>
				
			<h2>Open Hours: </h2>
				<ul>
					<li>Monday: {{restaurant.hours[0]}}</li>
					<li>Tuesday: {{restaurant.hours[1]}}</li>
					<li>Wednesday: {{restaurant.hours[2]}}</li>
					<li>Thursday: {{restaurant.hours[3]}}</li>
					<li>Friday: {{restaurant.hours[4]}}</li>
				</ul>
		
			<h2>Location: </h2>
				{% for i in location %}
				<ul>
					<li>{{i.address}}</li>
					</ul>
				{% endfor %}
			
			<h2>Website: </h2> 
				<p> {{restaurant.URL}} </p>
					
			<a class="button" href = "{{url_for('showRatings',business_id = business_id)}}">Ratings of this restaurant</a>		

    {% if items !=[] %}

		<a href = "{{url_for('newMenuItem', business_id = business_id )}}">Create New Item</a>
	</br></br>

	<h2>MOST Expensive</h2>
		<p>{{exp.name}}</p>
		<p>Priced {{exp.price}} CAD</p>
	<br/>
	<h2>Appetizers</h2>

		{% for i in items %}
		{% if i.category == 'Appetizers' %}

		<p>{{i.name}}</p>
		<P>Average</P>
		<p>{{avg['Appetizers']}} CAD</p>

		<p>{{i.description}}</p>
	

		<p>{{i.price}} CAD</p>
	
		<a href='{{url_for('editMenuItem', business_id = business_id, item_id=i.item_id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteMenuItem', business_id = business_id, item_id=i.item_id ) }}' >Delete</a>
</br>
</br>
		{% endif %}

		{% endfor %}

		

		</br></br>

	<h2>Entrees</h2>

		{% for i in items %}
		{% if i.category == 'Entrees' %}

		<p>{{i.name}}</p>
		<P>Average</P>
		<p>{{avg['Entrees']}} CAD</p>

		<p>{{i.description}}</p>
	

		<p>{{i.price}} CAD</p>
	
		<a href='{{url_for('editMenuItem', business_id = business_id, item_id=i.item_id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteMenuItem', business_id = business_id, item_id=i.item_id ) }}' >Delete</a>
</br>
</br>
        {% endif %}

		{% endfor %}
		
		

		</br></br>

	<h2>Desserts</h2>

		{% for i in items %}
		{% if i.category == 'Desserts' %}

		<p>{{i.name}}</p>
		<P>Average</P>
		<p>{{avg['Desserts']}} CAD</p>

		<p>{{i.description}}</p>
	

		<p>{{i.price}} CAD</p>
	
		<a href='{{url_for('editMenuItem', business_id = business_id, item_id=i.item_id ) }}' >Edit</a>
	
	<a href='{{url_for('deleteMenuItem', business_id = business_id, item_id=i.item_id ) }}' >Delete</a>
</br>
</br>
		{% endif %}

		{% endfor %}
		
		

		</br></br>

	<h2>Beverages</h2>

		{% for i in items %}
		{% if i.category == 'Beverages' %}

		<p>{{i.name}}</p>
		<P>Average</P>
		<p>{{avg['Beverages']}} CAD</p>

		<p>{{i.description}}</p>
	

		<p>{{i.price}} CAD</p>

		<a href='{{url_for('editMenuItem', business_id = business_id, item_id=i.item_id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deleteMenuItem', business_id = business_id, item_id=i.item_id ) }}' >Delete</a>
</br>
</br>
{% endif %}

		{% endfor %}
		
		

		{% else %}
		<p> You currently have no menu items. <p>
		<a href = "{{url_for('newMenuItem', business_id = business_id )}}">Create New Item</a>
			{% endif %}
</div>
	</body>

</html>